@use "../mixins/backgrounds.scss";
@use "../app.scss";
@use "../common/buttons.scss";


@media screen and (max-width: 991px) {

    .container {  
        @include backgrounds.mobile-background;
    }
}

@media screen and (min-width: 992px ) {

    .container {
        @include backgrounds.desktop-background(app.$desktopLandingImage, false, 1);       
        color: white;
        padding: 25px;  

        a {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }    
}