* {
    box-sizing: border-box;
    margin: 0; padding: 0;   
}


$navbarHeight: 70px;
$contentHeight: calc(100vh - $navbarHeight);

$formBackgroundImage:  "/images/formBackground.jpg";
$desktopLandingImage: "/images/manyHorses.jpg";