@use "app.scss";

.horseCard {     
    height: 425px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 10px;
}

.horseName {
  margin-bottom: 10px;
  margin-left: 0;
}

.imgArea {
    height: 250px;
    img {
        display: block;
        max-width: 320px;
        height: auto;
        margin-top: 20px;
    }
}

.btnArea {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;  
}

@media screen and (max-width: 300px) {
    .horseCard {
        height: 425px;
        width: 270px;
    }
    .imgArea {
        height: 225px;
        img {
            max-width: 250px;
            height: auto;
        }
    }

    .btnArea {
        .btn {
            min-width: 110px;              
        }
    }
}